/*-- JORY --*/
/*-- Copyright 2017 JORY All Rights Reserved. --*/
/*-- 助理 --*/
/*-- --datePicker.css --*/

/*==== color setting ====*/
#datePicker li.saturday{
	color: rgb(58, 98, 234);
}
#datePicker li.sunday{
	color: rgb(234, 65, 65);
}
#datePicker li.unset,
#datePicker li.unset:hover{
	background-color: rgb(244, 244, 244);
	border-color: rgb(185, 185, 185);
}
/*==== /color setting ====*/
/*==== style setting ====*/
#datePicker{
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	font-size: 10px;
	background: linear-gradient(130deg, rgb(255, 255, 255), rgb(222, 222, 222));
	border: 1px solid rgb(185, 185, 185);
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	display: none;
}
#pickerYear > p{
	margin: 0;
}
#pickerMonth{
	position: relative;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
}
#pickerMonth > p{
	height: 25px;
	margin: 0 0 5px;
	cursor: pointer;
}
#pickerMonth .prev,
#pickerMonth .next{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	cursor: pointer;
	border: 1px solid rgba(185, 185, 185, 0);
	box-sizing: border-box;
}
#pickerMonth .prev:hover,
#pickerMonth .next:hover{
	border-color: rgba(185, 185, 185, 1);
}
#pickerMonth .prev{
	left: 0;
}
#pickerMonth .next{
	right: 0;
}
#pickerMonth li{
	float: left;
}
#pickerDaily ul{
	width: 168px;
}
#pickerDaily li{
  width: 22px;
	height: 22px;
	margin: 1px;
	float: left;
	background-color: rgb(156, 156, 156);
	color: white;
	border: 1px solid rgb(121, 121, 121);
	box-sizing: border-box;
	line-height: 22px;
	font-weight: bold;
}
#pickerDay ul{
	width: 168px;
	float: left;
	display: none;
}
#pickerDay li{
	width: 22px;
	height: 22px;
	margin: 1px;
	float: left;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(121, 121, 121);
	box-sizing: border-box;
	line-height: 22px;
	cursor: pointer;
}
#pickerDay li.today{
	background-color: rgb(241, 228, 205);
	border: 1px solid rgb(234, 178, 79)
}
#pickerDay li:hover{
	background-color: rgb(241, 228, 205);
}
#closePicker{
	width: 100%;
	float: left;
}
#closePicker p{
	width: 60%;
	height: 25px;
	margin: 0;
	padding-right: 22px;
	box-sizing: border-box;
	float: right;
	position: relative;
	line-height: 25px;
	font-weight: bold;
	cursor: pointer;
	text-align: right;
}
#closePicker p:hover{
	color: rgb(255, 131, 0);
}
#closePicker p span{
	width: 18px;
	height: 19px;
	position: absolute;
	top: 3px;
	right: 0;
	background-color: white;
	border: 1px solid black;
	box-sizing: border-box;
	color: black;
	line-height: 19px;
	text-align: center;
}
/*==== /style setting ====*/
